/**
 * 
 * @authors jiaguishan (http://tammylights.com)
 * @date    2017-06-08 10:29:43
 * @version 1.0
 */
body.login {
    background-size: cover;
    width: 100%;
    height: 100%;
}

#topbar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #000;
}

#topbar .container a {
    font-size: 15px;
    margin: 0 20px 0 20px;
    color: #fff;
}

#topbar .container {
    position: relative;
}

#topbar #wechatImg {
    position: absolute;
    left: 50px;
    z-index: 2;
    bottom: -220px;
}

#topbar #wechat:hover + #wechatImg {
    display: block !important;
}

.tab-login.active {
    border: 3px solid #fff;
    color: #fff;
}

.logo-img {
    width: 46%;
    float: left;
}
.logo-img p.logo-take {
    margin-left: 33%;
    margin-top: 340px;
    padding-left: 10px;
    font-size: 38px;
    color: #fff;
}
.logo-img .logoBox {
    margin-left: 34%;
    margin-top: 20px;
    padding-left: 10px;
    border-left: 2px solid #fff;
}

.logo-img .logoBox p {
    font-size: 24px;
    line-height: 26px;
    color: #fff !important;
}

.logo-img .logoBox span {
    color: #fff;
}

.login-form {
    width: 50%;
    float: left;
}

.loginForm {
    background: rgba(0, 0, 0, 0.4);
    width: 500px;
    margin: 60px 0px 0px 14%;
    padding: 34px 0 10px 0;
}

/*.registerForm {
    margin: 60px 0px 0px 14%;
}*/
.loginForm p, .loginForm h2, .loginForm ul {
    width: 71%;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #fff;
}

.loginForm .checkProtocol {
	width: 71%;
    margin: 0 auto;
}
.loginForm .checkProtocol a{
	color: #666;
}

.loginForm ul {
    width: 74%;
}

.loginForm ul {
    overflow: hidden;
}

.loginForm ul li {
    float: left;
    width: 160px;
    height: 30px;
    border: 1px solid #596a75;
    list-style: none;
    text-align: center;
    line-height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.loginForm input {
    height: 36px;
    line-height: 36px;
    border: 0;
    color: #fff;
}

.loginForm .inputGroup, .changeForm .inputGroup {
    width: 70%;
    margin: 10px auto 20px;
    overflow: hidden;
}

.loginForm .inputGroup span, .changeForm .inputGroup span {
    display: inline-block;
    width: 100px;
    height: 26px;
    background-color: #455f78;
    opacity: 0.5;
    color: white;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #fff;
}

.loginForm .inputGroup .txt, .changeForm .inputGroup .txt {
    width: 70%;
    text-indent: 16px;
    border: 1px solid #b7b7b7;
}

.loginForm .inputLogin .txt, .changeForm .inputLogin .txt {
    float: left;
}

.loginForm .username-login .inputGroup .txt {
    width: 99%;
}

.loginForm .inputGroup .code {
    width: 150px;
    text-indent: 40px;
}

.loginForm .inputGroup .checkCode {
    width: 100px;
    height: 40px;
    margin: -23px 0px 0px 60px;
    cursor: pointer;
}

.loginForm .tab-page {
    display: none;
}

.loginForm #login-active {
    display: block;
}

.loginForm input[type="submit"] {
    width: 100%;
    border-radius: 5px;
    background-color: #3272b0;
    color: #fff;
}

.color-white {
    color: #fff;
}

/*忘记密码*/
.loginForm .forgetPwd {
    margin: 0 0 20px 76px;
    cursor: pointer;
}

.forgetForm {
    display: none;
}

.loginForm .resetPwd, .loginForm .registerBtn {
    width: 70%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid #1d90e6;
    border-radius: 5px;
    background-color: #1d90e6;
    color: #fff;
    cursor: pointer;
}

.registers-form {
    display: none;
}

.registers-form .goLogin {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #455f78;
    color: #fff;
    font-size: 20px;
    margin-left: 140px;
    border-radius: 5px;
}

/*个人中心*/
.personContent .center-site {
    width: 900px;
    margin: 4px 0 0 96px;
}

.personContent ul, .personContent ol {
    overflow: hidden;
}

.personContent ul.person-option {
    margin: 80px 0 22px 0;
}

.personContent ul li {
    width: 48%;
    float: left;
    border: 1px solid #eee;
}

.personContent #task-list-form ul li, .personContent #personCenter-baseInfo-form ul li {
    border-bottom: 0;
}

.personContent .center-site ul.person-option li {
    width: 14%;
    border-radius: 3px;
    margin-right: 20px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.personContent .center-site ul.person-option li span {
    color: #53c7a0;
    margin-left: 14px;
}

.personContent .center-site ul.person-option li.changePassword {
    border：1px solid #53c7a0;
}

.personContent .center-site ul.person-option li.removePhone {
    border：1px solid #53c7a0;
}

.personContent .center-site ul.person-option li.editFile {
    border：1px solid #53c7a0;
}

.personContent ul li label {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #eee;
    background-color: aliceblue;
}

.personContent ul li textarea {
    width: 370px;
    height: 30px;
    resize: none;
    margin-left: 70px;
}

.personContent ul li input[type="text"], .personContent ul li select {
    width: 250px;
    border-color: #eee;
}

.personContent ul li select.useraddress {
    width: 100px;
}

.personContent ol li {
    width: 30%;
    float: left;
    padding: 10px 0;
}

.mainfile {
    overflow: hidden;
}

.mainfile p {
    font-weight: 900;
    margin-top: 30px;
}

a.clearEdit {
    padding: 9px 8px;
    border-color: #ccc;
}

.upimg dl {
    float: left;
    width: 120px;
    margin: 0 30px 20px 0;
}

.upimg dl dd {
    width: 84%;
    text-align: center;
}

#task-list-form input[type="submit"] {
    padding: 10px;
}

#task-list-form ul li span {
    color: #6c757f;
    margin-left: 16px;
}

.change-width p {
    width: 660px;
    font-weight: 900;
}

.change-width .changeForm .inputGroup label {
    width: 100px;
    display: inline-block;
}

.change-width .changeForm .inputGroup input {
    height: 30px;
}

/*.select-person{
	display:none;
}*/

/*infomationList.html*/
#selectOk {
    margin-left: 10px;
}

.operaList .titleTip {
    color: red;
    display: none;
}

.operaList .showTitalTip {
    display: inline-block;
}

.highLightTR {
    background-color: #fff3f4 !important;
}

#infolistForm table .evenInfo {
    width: 600px;
    padding-left: 6% !important;
}

#infolistForm table input[type="submit"] {
    margin-top: 8px;
    margin-left: 150px;
}

#infolistForm .infoSearch {
    text-align: left;
}

.tar #addArticle {
    margin-top: 20px;
}

.textLeft td {
    text-align: left;
}

/*选择类型*/
#select_type_form div.select_nav {
  /*padding: 10px 0;*/
  /*border-bottom:1px solid #ccc;*/
  text-align: center;
}
#select_type_form div.select_nav ul li {
  float:left;
  width:28%;
  margin:0 24px;
  font-size:26px;
  cursor: pointer;
}

#select_type_form div.select_nav ul li.type_active {
  border-bottom:4px solid orange;
  color:orange;
}
#select_type_form div.select_content div {
  height:50px;
  border-bottom:1px solid #ccc;
  line-height: 50px;
}
#select_type_form div.select_content div label {
  font-size:16px;
}
#select_type_form div.select_content div input {
  height:30px;
  border:0;
}

/*
查看资讯
 */
.lookUpContent {
    margin: 20px 20px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}

.lookUpContent dl {
    margin: 60px 60px;
}

.lookUpContent dl dt {
    float: left;
    width: 60px;
    text-align: right;
}

.lookUpContent dl dd {
    margin-left: 80px;
    margin-bottom: 20px;
    min-height: 30px;
    word-break: break-all;
}

.infoGoback {
    text-align: center;
    width: 355px;
    margin-bottom: 20px;
}

/*addInfomation.html*/
.must {
    color: red;
}

.addInfoContent form input[type="text"] {
    width: 93%;
    height: 30px;
}

.addInfoContent table tr td {
    text-align: left;
}

.addInfoContent .title {
    white-space: nowrap;
}

.addInfoContent .btnCenter {
    text-align: center;
}

.addInfoContent input[name="reset"], #addAdShow input[name="reset"] {
    margin-left: 30px;
}

.addInfoContent #imgFile {
    display: none;
}

.addInfoContent .imgUpLoad, .editor {
    position: relative;
}

.addInfoContent .imgTip {
    position: absolute;
    top: 80px;
    left: 120px;
}

.tips {
    color: #c9c9c9;
}

.uploadHeight {
    min-height: 60px;
}

/*
adList.html
 */
#addAdShow table tr td {
    text-align: left;
}

#addAdShow form input[type="text"] {
    width: 200px;
    height: 24px;
}

.lookUpContent img {
    max-width: 20%;
    margin: 5px;
}

.imgPreview {
    width: 100px;
}

#addAdShow .title {
    width: 200px;
    text-align: right;
}

#addAdShow table input[type="submit"] {
    margin-left: 200px;
}

#addAdShow table input[type="submit"], #addAdShow table input[type="reset"] {
    margin-top: 40px;
}

#adlistForm {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

/*agreementList.html*/
.btnUnBorder {
    border: 0 !important;
}

.underOrange {
    border-bottom: 2px solid #ff8812 !important;
}

.agreementTitle li {
    float: left;
}

.protocol {
    margin: 10px;
    text-align: left;
    min-height: 500px;
}

.rules {
    width: 1200px;
    margin: 50px auto 100px;
    line-height: 30px;
}

.main-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.sub-title {
    font-size: 20px;
    margin-top: 50px;
}

.p-title {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.text-begin {
    text-indent: 2em;
}

.text-del {
    display: block;
    text-indent: 2em;
    line-height: 28px;
    margin-top: 10px;
}

a.customer-addTask, a.customer-removeTask {
    border: 1px solid #53C7A0;
    color: #53C7A0;
    padding: 6px 16px 6px 45px;
    border-radius: 3px;
    margin-right: 20px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

a.customer-addTask {
    background: url(../img/index/increate.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

a.customer-removeTask {
    background: url(../img/index/remove.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

a.customer-addTask:hover {
    background: #e6f5f0 url(../img/index/increate.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

a.customer-removeTask:hover {
    background: #e6f5f0 url(../img/index/remove.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

a.grey-addbtn {
    background: #d3efe6 url(../img/index/increate.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

a.grey-removebtn {
    background: #d3efe6 url(../img/index/remove.png) no-repeat 12px 6px;
    background-size: 20px 20px;
}

/* 角色设置 */
.roleSetList .manage {
    margin-top: 20px;
    float: left;
}

#batchDelete {
    padding: 5px 10px;
    margin-left: 20px;
}

.addRole, .editRole {
    background-color: #f8f8f8;
}

.addRole .icheckbox_flat-orange, .editRole .icheckbox_flat-orange {
    margin-right: 5px;
}

.addRole .roleName, .editRole .roleName, .addRole .roleDetails, .editRole .roleDetails {
    margin-bottom: 30px;
    margin-top: 50px;
}

.addRole .roleName dl, .editRole .roleName dl, .addRole .roleDetails dl, .editRole .roleDetails dl {
    display: block;
}

.addRole .roleName dt, .editRole .roleName dt, .addRole .roleDetails dt, .editRole .roleDetails dt {
    display: block;
    width: 10%;
    float: left;
    text-align: center;
}

.addRole .roleName dd, .editRole .roleName dd, .addRole .roleDetails dd, .editRole .roleDetails dd {
    float: left;
    width: 90%;
}

.addRole .roleName input[name=name] {
    width: 50%;
    padding: 8px;
    border: solid 1px #cecece;
    border-radius: 3px;
}

.addRole .checkboxGroup, .editRole .checkboxGroup {
    border-bottom: solid 1px #fff;
    padding: 15px 0;
}

.addRole .label_checkbox, .editRole .label_checkbox {
    margin-right: 10px;
}

.addRole .manage, .editRole .manage {
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.addRole .manage input, .editRole .manage input {
    width: 100px;
}

.addRole .secondary, .editRole .secondary {
    margin-left: 30px;
    margin-top: 10px;
}

.addRole .subkey, .editRole .subkey {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

/* 消息列表 */
.messageList .warn {
    color: #f00;
}

.addMessage .title p, .editMessage .title p {
    width: 100px;
    text-align: right;
}

.addMessage .content input[type=text], .editMessage .content input[type=text] {
    width: 90%;
    height: 35px !important;
}

.addMessage .content textarea, .editMessage .content textarea {
    width: 91%;
    padding: 6px;
    line-height: 20px;
    border: 1px solid #cecece;
    resize: none;
}

.addMessage .content select, .editMessage .content select {
    border: 1px solid #cecece !important;
    border-radius: 3px !important;
}

.addMessage .must, .editMessage .must {
    font-style: normal;
    color: #f00;
}

.addMessage .opertionCon, .editMessage .opertionCon {
    float: none;
    text-align: center;
    margin-bottom: 20px;
}

/* 供应商列表管理 */
.supplierList .opertionCon {
    float: left;
    margin-left: 237px;
}

.supplierList input[type=text] {
    border-radius: 4px;
    height: 26px;
    border-color: #ddd;
}

.supplierList .tar {
    margin-top: 20px;
}

.supplierList .service_city {
    width: 280px;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.supplierList .select2-container--default {
    width: 197px !important;
}

.addSupplier .title, .editSupplier .title {
    text-align: right;
}

.addSupplier .content, .editSupplier .content {
    text-align: left;
}

.addSupplier .must, .editSupplier .must {
    font-style: normal;
    color: #f00;
}

.addSupplier input[type=text], .editSupplier input[type=text] {
    width: 100%;
    height: 35px;
    border: none;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.addSupplier .select2-container--default, .editSupplier .select2-container--default {
    width: 100% !important;
}

.addSupplier .opertionCon, .editSupplier .opertionCon {
    float: none;
    width: 204px;
    margin: 0 auto;
}

.addSupplier #citySelect, .editSupplier #citySelect {
    float: left;
    position: relative;
    margin-right: 10px;
}

.addSupplier #inputCity, .editSupplier #inputCity {
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
}

.addSupplier #cityList, .editSupplier #cityList {
    width: 198px;
    max-height: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 30px;
    z-index: 1;
    overflow: auto;
    display: none;
}

.addSupplier #cityList li, .editSupplier #cityList li {
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    cursor: pointer;
}

.addSupplier #cityList li:hover, .editSupplier #cityList li:hover {
    background-color: #eee;
}

.addSupplier #service_region, .editSupplier #service_region {
    float: left;
    margin-top: 4px;
    width: 80%;
}

.addSupplier #service_region li, .editSupplier #service_region li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ccc;
    padding: 3px 5px;
    background-color: #eee;
    border-radius: 3px;
}

.addSupplier #service_region .close, .editSupplier #service_region .close {
    position: absolute;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    top: -7px;
    right: -10px;
    background-color: #999;
    cursor: pointer;
    color: #fff;
}

.addSupplier #confirm, .editSupplier #confirm, .addSupplier .goBack, .editSupplier .goBack {
    width: 100px;
}

.img_list li {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 20px;
}

.img_list li img {
    width: 100%;
    height: 100%;
}

.supplierDetails #service_region li {
    float: left;
    margin-right: 5px;
}

.supplierDetails .title, .activityDetails .title {
    width: 120px;
    text-align: right;
}

.supplierDetails .content, .activityDetails .content {
    text-align: left;
}

.supplierDetails .opertionCon, .activityDetails .opertionCon {
    float: left;
    margin-left: 130px;
}

.supplierDetails .goBack {
    width: 100px;
}

.supplierDetails #corp_introduction p {
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}

.ueditor img {
    margin: 5px 0;
}

/* 公共样式调整 */
.search-container .align_right {
    text-align: right;
}

.search-container .align_left {
    text-align: left;
}

input, select, textarea {
    background-color: transparent;
}

#beginTime, #endTime {
    height: 25px;
    padding-left: 2px;
    display: inline-block
}

.pubTime {
    width: 480px
}

.activityDetail .must {
    color: red
}

.activityDetail form input {
    width: 200px;
    height: 24px
}

.activityDetail input[name=submit], .activityDetail input[name=reset] {
    width: 90px
}

.activityDetail input[name=submit] {
    margin-left: 110px
}

.activityDetail input[name=reset] {
    margin-left: 30px
}

.activityDetail .mainImg {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    cursor: pointer
}

.activityDetail #imgFile {
    display: none
}

.activityDetail .imgUpLoad, .editor {
    position: relative
}

.activityDetail .imgTip {
    position: absolute;
    top: 80px;
    left: 120px
}

.activityDetail .titleTip, .fileTip, .imgTip {
    color: red;
    display: none
}

.activityDetail .showTitleTip, .showFileTip, .showImgTip {
    display: block
}

.activityDetail table tr td {
    border: 0
}

.activityDetail table tr .time {
    width: 100%
}

.activityDetail table tr select {
    width: 100%
}

.dataContent {
  padding:20px 0;
    /*overflow: hidden*/
}

.moduleFlag {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right
}

.search_form table tr .title {
    width: 10%;
    white-space: nowrap;
    text-align: right;
}

.search_form table tr {
    width: 100%;
}

.search_form table tr td:last-child {
    text-align: left
}

.search_form table tr #mapSelect {
    width: 1000px
}

.search_form table tr #mapSelect select {
    width: 200px
}

.search_form table tr #mapSelect input {
    max-width: 333px;
    float: left
}

.select2_parent span {
    float: left;
    width: 100%;
    margin-right: 10px
}

.search_input td {
    float: left;
    margin-left: 60px
}

.common_query input {
    border-radius: 4px
}

.select_time {
    text-align: left
}

.select_time .endTime, .select_time .startTime {
    width: 200px;
    height: 36px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px
}

.btn_input {
    text-align: center
}

.btn_input input {
    width: 100px
}

.selectOption {
    width: 300px;
    float: left
}

.list-container {
    padding-left: 100px
}

.list-container table tbody tr {
    overflow: hidden
}

.list-container table tbody tr td {
    text-align: left
}

.addContent form input[type=text] {
    height: 30px;
    border-radius: 4px
}

.addContent form input[type=password] {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #cecece;
    padding: 5px 16px 5px 10px
}

.max-width {
    width: 90%;
}

.long_select .select2-container--default {
    width: 434px !important
}

.select2-container--default .select2-selection--single {
    border-radius: 4px !important
}

.manages {
    padding-top: 20px;
    float: left;
}

/*addInfomation*/
#addInfoForm #areaItem + span {
    width: 95% !important;
}

#areaItem + span {
    width: 95% !important;
}

#editPassForm {
    width: 500px;
}

#editPassForm input[type=password] {
    width: 360px;
}

/*线人列表*/
.search-container .stateChange li {
    cursor: pointer;
    float: left;
    /*border: 1px solid transparent;*/
    padding: 5px 10px;
    position: relative;
}

.search-container .stateChange li sup {
    position: absolute;
    top: -10px;
    right: -5px;
    color: #fff;
    height: 14px;
    line-height: 14px;
    background-color: red;
    padding: 0 3px;
    border-radius: 10px;
}

.search-container .label {
    line-height: 32px;
    font-weight: bold;
    vertical-align: middle;
}

.search-container .stateChange li:hover {
    /*color: #20a0ff;
    border: 1px solid #20a0ff;*/
}

.search-container .stateChange li.active {
    border-top: 4px solid #53c7a0;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
}
.search-container .stateChange li:first-child.active {
    border-left: 0;
}
/**
 * 任务列表-车辆详情
 */
.dialog-width, .increated {
    min-width: 900px;
}

.dialog-width .pull-right {
    width: 100px;
    height: 34px;
    background: dodgerblue;
    color: white;
    text-align: center;
    line-height: 34px;
}

.dialog-width p {
    font-weight: 900;
}

.dialog-width ul {
    width: 100%;
    padding: 0 0 20px 0;
    overflow: hidden;
}

.dialog-width ul li {
    width: 266px;
    float: left;
    padding: 10px 0;
}

.dialog-width table {
    width: 800px;
    margin-bottom: 20px;
}

.dialog-width table th {
    background: 0;
    text-align: right;
    width: 112px;
}

.dialog-width table td {
    text-align: left;
}

.taskpull {
    overflow: hidden;
}

.taskpull p:last-of-type input {
    height: 20px;
    border: 1px solid #ccc;
    margin: 6px 0;
    padding: 6px 0;
}

.taskpull p label {
    font-size: 16px;
    font-weight: 900;
    display: inline-block;
    width: 170px;
}

.dialog-width .remark {
    width: 800px;
    height: 40px;
    border: 1px solid #eee;
    line-height: 24px;
    padding-left: 10px;
}

.dialog-width .remark input {
    width: 800px;
    border: 0;
    outline: 0;
}

.increateNewInfo {
    margin-top: 6px;
}

.increateNewInfo p.carsInfo {
    font-size: 16px;
    font-weight: 900;
}

.increateNewInfo div {
    padding: 12px 0;
}

.increateNewInfo div label {
    display: inline-block;
    width: 100px;
}

.increateNewInfo div input {
    outline: none;
    height: 28px;
    border: 1px solid #ccc;
}

.increateNewInfo div select {
    outline: none;
    border: 1px solid #ccc;
}

.increateNewInfo div .carSelect {
    width: 48px;
}

.public-select {
    margin-right: 10px;
}

.upimg {
    margin: 10px 0;
}

.buttonAnt {
    margin: 30px 0;
}

.buttonAnt input {
    border: 1px solid #ccc;
}

.dialog-width .imgRecord {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px dashed #ccc;
}

.dialog-width .imgRecord p {
    margin-bottom: 20px;
}

.dialog-width .imgRecord span {
    margin: 0 20px;
}

.dialog-width .imgRecord span img {
    margin-left: 10px;
}

.gpsType {
    margin-top: 10px;
    overflow: hidden;
}

/*.upmainfile dl {
width: 160px;
height: 200px;
border: 1px solid #ccc;
text-align: center;
margin: 15px 20px 10px 0;
}

.upmainfile dl dt {
height: 160px;
border-bottom: 1px solid #ccc;
}*/

/*.upmainfile dl dd {
line-height: 40px;
}*/

.gpsType div input {
    outline: none;
    width: 200px;
    height: 26px;
    border: 1px solid #000;
}

/**
 * 线人列表
 */
.blue_recommendCode {
    color: #20a0ff !important;
    text-decoration: underline;
}

/**
 * 发放账号
 */
#downstreams-create-form {
    width: 600px;
    margin: 150px auto;
}

#downstreams-create-form input[type="text"], #downstreams-create-form input[type="password"] {
    width: 71%;
}

#downstreams-create-form select#role {
    width: 71%;
}

#downstreams-create-form input[type="submit"], #downstreams-create-form input[type="reset"] {
    padding: 8px 15px;
}

#downstreams-create-form input[type="submit"] {
    border: 0;
    margin-left: 120px;
    border-radius: 5px;
    background-color: #4db3ff;
    color: #fff;
}

#downstreams-create-form input[type="reset"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

#downstreams-create-form input[type="reset"]:hover {
    border: 1px solid #4db3ff;
    border-radius: 5px;
    cursor: pointer;
    color: #4db3ff;
}

/**
 * 活动开关
 */
.active-switch {
    color: #20a0ff !important;
}

span.operatorTaskOpen, span.operatorTaskClose {
    display: block;
    width: 48px;
    height: 20px;
}

.operatorTaskOpen {
    background: url(../img/index/open.png) no-repeat center;
    background-size: 20px 20px;
}

.operatorTaskClose {
    background: url(../img/index/close.png) no-repeat center;
    background-size: 20px 20px;
}

/*协议内容*/
.protocol-content {
	width:80%;
	margin:100px auto;
}

.protocol-content h2{
	text-align: center;
	line-height: 40px;
}

.protocol-content p{
	text-indent: 2em;
	line-height:30px;
}
/*绑定手机号*/
.binding-content {
	width:100%;
	text-align: center;
	font-weight:900;
}
.binding-content h2 {
	margin:56px 0;
}

.binding-content h2 .icon-bindPhone {
	display: block;
	width:170px;
	height:200px;
	background: url(../img/icon-bindimg.png) no-repeat center;
	background-size:cover;
	margin:20px auto;
}
.binding-content p {
	font-size:16px;
}
.binding-content .bind-form div {
	width:410px;
	height:40px;
	margin:20px auto;
}
.binding-content .bind-form div span {
	float:left;
	width:90px;
	height:40px;
	border:1px solid #ccc;
	line-height: 40px;
	text-align: center;
}
.binding-content .bind-form div input {
	float:left;
	border:0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.binding-content .bind-form div.bind-sure {
	width:80px;
	height:40px;
	border:1px solid #333;
	border-radius: 4px;
	line-height: 40px;
	cursor: pointer;
}
.embedBox {
    border-bottom: 1px solid #ccc;
    padding:10px 0;
}
.public-result {
    padding:36px 0;
}
.textTable td {
    border: 1px solid #eef1f6;
    text-align: left;
    min-width: 270px;
}
.textTable th {
    border: 1px solid #eef1f6;
    background: aliceblue;
}
#personalAssets-form{
    /*border-bottom: 2px solid #ccc;*/
}
